#{extends 'main.html' /}
#{set title:'Home' /} 
#{get 'moreStyles' /}
#{get 'moreScripts' /}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/reset.css'}">
	</head>
	<body>
	    <div id="box_reset">
	        <div class="container">
	            <div class="span12 box_wrapper">
	                <div class="span12 box">
	                    <div>
	                        <div class="head">
	                            <h4>Digite seu email para enviarmos uma nova senha.</h4>
	                        </div>
	                        <div class="form">
	                            <form>
	                                <input type="text" placeholder="Email"/>
	                                <input type="submit" class="btn" value="Resetar senha"/>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                <p class="already">Lembrou-se da sua senha? <a href="@{User.signin()}">Login</a></p>
	            </div>
	        </div>
	    </div>
	</body>
</html>
