#{extends 'main.html' /}
#{set title:'Home' /} 
#{get 'moreStyles' /}
<script src="@{'/public/javascripts/signin.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/signin.css'}">
</head>
	<body>
	<div id="fb-root"></div>
        <script>
          //initializing API
          window.fbAsyncInit = function() {
            FB.init({appId: '435251833239716', status: true, cookie: true,
                     xfbml: true});
          };
          (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
              '//connect.facebook.net/pt_BR/all.js';
            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
	
    <div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Entre na sua conta</h4>
                        </div>
                        <div class="social">
                            <a style="cursor:pointer;" class="face_login" onclick="fblogin();return false;">
                                <span class="face_icon">
                                    <img src="/public/img/i_face.png" alt="fb" alt=""/>
                                </span>
                                <span class="text">Entre com seu Facebook</span>
                            </a>
                            <div class="division">
                                <hr class="left">
                                <span>ou</span>
                                <hr class="right">
                            </div>
                        </div>
                        <div class="form">
                            #{form id: 'formLogin', action:@User.login() }
                                <input type="text" placeholder="Email" id="email" name="email"/>
                                <div class="errorMessage" id="emailValidation"></div>
                                <input type="password" placeholder="Password" id="password" name="password"/>
                                <div class="errorMessage" id="passwordValidation"></div>
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">Lembrar</label>
                                    </div>
                                    <div class="right">
                                        <a href="@{User.reset()}">Esqueceu sua senha?</a>
                                    </div>
                                </div>
                                <input type="button" id="insertSubmitButton" class="btn" value="Entrar"/>
                             #{/}
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Ainda n&#227;o se cadastrou? <a href="@{User.signup()}"> Cadastre-se em 30 segundos</a></p>
            </div>
        </div>
	</body>
</html>

<script>
  //your fb login function
  function fblogin() {
    FB.login(function(response) {
      alert('opa');
    }, {scope:'read_stream,publish_stream,offline_access'});
  }
</script>