<!DOCTYPE html>
<html>
<head>
	<title>Redacao</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/theme.css'}">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    
    <script src="@{'/public/javascripts/jquery-1.9.min.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    <script src="@{'/public/javascripts/theme.js'}"></script>
    
</head>
<body>
    <a href="#" class="scrolltop">
        <span>Up</span>
    </a>
    <!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
          	<a class="brand scroller" data-section="body" href="@{Application.index()}">
                <img src="/public/img/logo.png" alt="logo" />
            </a>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                	#{ if (helpers.GeneralHelper.getInstance().getCurrentUser() == null)}
	                    <li><a href="#" class="scroller" data-section="#features">Sobre N&oacute;s</a></li>
	                    <li><a href="#" class="scroller" data-section="#pricing">Professores</a></li>
	                    <li><a href="#" class="scroller" data-section="#footer">Contato</a></li>
	                    <li>
	                        <a class="btn-header" href="@{User.signup()}">Registrar</a>
	                    </li>
	                    <li><a class="btn-header" href="@{User.signin()}">Login</a></li>
	                #{/if}
	                #{else}
	                	<li><a class="btn-header" href="@{User.logout()}">Sair</a></li>
	                #{/else}
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
	#{doLayout /}
    
</body>